* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body, input, button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.index {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
}

.form_index {
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: #e2e2e2;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 0 15px #858484;
}

#id_option {
    display: inline-flex;
    justify-content: space-between;
    list-style: none;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type='radio'], ul li label {
    font-weight: normal;
    cursor: pointer;
}

.errorlist {
    list-style: none;
    margin: 5px 0;
    color: #ff0000;
}

input[type='text'], input[type='number'] {
    width: 202px;
    height: 38px;
    border: 1px solid #616060;
    border-radius: 5px;
    padding: 6px 12px;
    margin-bottom: 20px;
}

input[type="text"]:focus, input[type="number"]:focus {
    border: 1px solid #5eaae9;
    box-shadow: 0 0 3px 3px #b9d3ee;
}

input::placeholder, input::-webkit-input-placeholder {
    color: #616060;
    opacity: 1;
}

.buttons {
    display: inline-flex;
    justify-content: space-between;
    margin-top: 20px;
}

#download {
    margin-bottom: 25px;
}

button {
    width: 90px;
    height: 38px;
    border: 0;
    border-radius: 5px;
    background: #007bff;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: #0069da;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin: 25px 0;
}

.info {
    min-width: 320px;
    background-color: #e6e6e6;
    border-bottom: 1px solid #000000;
    margin-bottom: 25px;
}

.info:hover {
    box-shadow: 0 0 3px 3px #b9d3ee;
}

span {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 5px;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
}

span:hover {
    background-color: #b9d3ee;
}

p {
    text-align: center;
    padding: 5px 0;
}

.subnets {
    overflow: auto;
    height: 300px;
    padding: 0 5px;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
}

@media (min-width: 320px)  {
    .info {
        width: 100%;
    }
}
@media (min-width: 481px)  {
    .info {
        width: 95%;
    }
}
@media (min-width: 641px)  {
    .info {
        width: 90%;
    }
}
@media (min-width: 961px)  {
    .info {
        width: 85%;
    }
}
@media (min-width: 1025px) {
    .info {
        width: 80%;
    }
}
@media (min-width: 1281px) {
    .info {
        width: 75%;
    }
}